root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off

[*.{bat,cmd}]
end_of_line = crlf

[*.json]
indent_size = 2

[*.properties]
charset = latin1

[*.toml]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2
